<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="fb_client_id" value="351114134941981"/>
    <add key="fb_client_secret" value="5d7cae4da99f037e10293ff0c38c2f86"/>
  </appSettings>
  <connectionStrings>
    <add name="Prod" connectionString="server=a3a47dac-8b9e-4806-ace1-a11900f60728.mysql.sequelizer.com;database=dba3a47dac8b9e4806ace1a11900f60728;uid=rukgzgzfkuumwkuh;pwd=khe32jGXpEaCJSTqVnbzAGg68q7BUfbUYeKixCQFoH8zozLPcGRPxxZKbh4Jkfdj;charset=utf8"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
